---
 const personalImageAlt = "José David Ortiz"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Jose David Ortiz, but my friends call me David. I started programming when I was 10 by creating
       Pokémon fan games, better known as ROM hacks.<br> <strong> I currently work in data teams within the banking sector. </strong>
    </p>

    <p>
      Beyond data science and machine learning, I'm interested in graphics programming, game development, 
       and contributing to open-source projects like Godot, Blender, Rust—and hopefully <strong>PyTorch or Hugging Face</strong> one day
    </p>

    <p>
      I aspire to become a top machine learning researcher, but in my free time, 
       I enjoy writing novels, composing music, creating digital art, and developing games.
    </p>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
